#header-nav {
    background-color: rgb(221, 158, 205);
    
  }

.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h4 {
    color: rgb(2, 2, 2);
  }

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-toggle {
    background-color: #f7c8e5;
    border: 1px solid #e48db5;
}



h1 {
    color: #000;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.section {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: justify;
    border: 1px solid #070707;
    margin: 10px;
    padding: 20px;
    float: left;
    background-color: #f38ac4;
    position: relative;
}

/* Large devices only */
@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 20px);
    }
}

/* Tablet devices only */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px);
    }
}

/* Mobile devices only */
@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
        background-color: black
    }
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
        background-color: aliceblue;
    }
    .navbar-brand p img {
        height: 20px;
    }
    #collapsable-nav .navbar-nav .hidden-sm a,
    #collapsable-nav .navbar-nav .hidden-md a,
    #collapsable-nav .navbar-nav .hidden-lg a {
    color: rgb(0, 0, 0);
    background-color: #f0cde2;
    }

    
}